apiVersion: v1
kind: PersistentVolume
metadata:
  name: efs-persist
spec:
  capacity:
    storage: 123Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: {{ efs_id }}.efs.{{ aws_region }}.amazonaws.com
    path: "/"
